# fly.toml app configuration file generated for aiworld-server on 2026-02-05T14:40:15+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'aiworld-server'
primary_region = 'nrt'

[build]

[env]
  DATA_DIR = '/data'

[[mounts]]
  source = 'aiworld_data'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
