[package]
name = "sprite-demo-macroquad"
version = "0.1.0"
edition = "2021"

[dependencies]
macroquad = "0.4"

[[bin]]
name = "sprite-demo"
path = "main.rs"

[profile.release]
opt-level = 3
lto = true

[profile.wasm-release]
inherits = "release"
opt-level = "z"
strip = true
